.container {
  max-width: 1200px;
}

.brand {
  transition: color 0.25s ease-in-out;
}

.dk {
  color: red !important;
  font-weight: 900;
}

.dojo {
  color: white;
  font-weight: 100;
}


.toggler {
  border: 1px solid white;
  border-radius: 2px;
}

.linkWrapper {
  gap: 1.5rem;
}

.link {
  color: red;
  font-weight: 100;
  transition: color 0.25s ease-in-out;
}

.link:hover {
  color: white;
}

@media (min-width: 900px) {
  .linkWrapper {
    gap: 2rem;
  }
}